body {
  background-color: cadetblue;
  color: indigo;
}
header h1 {
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#initials, #startAgain, #clear, div{
  display: none;
}
input {
  background-color: cornsilk;
}
.highscores {
  list-style-type: none;
  padding: 2px;
  margin-bottom: 5px;
  margin-right: 40px;
  background-color: rgb(40, 68, 68);
  color: rgb(104, 155, 249);
}
button {
  color: rgb(40, 68, 68);
  background-color: rgb(104, 155, 249);
  margin-bottom: 5px;
}
